org: storeflowspace
service: storeone

provider:
  name: aws
  runtime: nodejs24.x
  region: ap-south-1
  stage: ${opt:stage, 'dev'}

  deploymentBucket:
    name: ${env:AWS_BUCKET_NAME}

  environment:
    NODE_ENV: ${env:NODE_ENV}

package:
  individually: true

functions:
  auth:
    name: ${self:service}-${self:provider.stage}-auth
    handler: dist/lambda-auth-server.handler
    memorySize: 1024
    timeout: 10
    architecture: x86_64
    package:
      patterns:
        - "!**/*"
        - "dist/lambda-auth-server.mjs"
        - "dist/xhr-sync-worker.js"
    events:
      - httpApi:
          path: /auth/{proxy+}
          method: ANY

  api:
    name: ${self:service}-${self:provider.stage}-api
    handler: dist/lambda-api-server.handler
    memorySize: 256
    timeout: 5
    architecture: x86_64
    package:
      patterns:
        - "!**/*"
        - "dist/lambda-api-server.mjs"
        - "dist/xhr-sync-worker.js"
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY
    iam:
      role:
        statements:
          - Effect: Allow
            Action:
              - "s3:*"
            Resource:
              - "arn:aws:s3:::${env:AWS_BUCKET_NAME}/*"

  image-resize:
    name: ${self:service}-${self:provider.stage}-image-resize
    handler: dist/lambda-image-resize.handler
    memorySize: 1024
    timeout: 5
    architecture: arm64
    package:
      patterns:
        - "!**/*"
        - "dist/lambda-image-resize.mjs"
    layers:
      - ${env:SHARP_LAYER_ARN}
    events:
      - s3:
          bucket: ${env:AWS_BUCKET_NAME}
          event: s3:ObjectCreated:*
          rules:
            - prefix: objects/
          existing: true
          forceDeploy: true
    iam:
      role:
        statements:
          - Effect: Allow
            Action:
              - s3:GetObject
              - s3:PutObject
            Resource:
              - "arn:aws:s3:::${env:AWS_BUCKET_NAME}/objects/*"