name: deploy-backend

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy-backend:
    runs-on: ubuntu-latest

    environment:
      name: prod

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci
        working-directory: ./backend

      - name: env file create
        run: |
          echo "AWS_BUCKET_NAME=${{ vars.AWS_BUCKET_NAME }}" >> .env.prod
          echo "SHARP_LAYER_ARN=${{ vars.SHARP_LAYER_ARN }}" >> .env.prod
          echo "NODE_ENV=${{ vars.NODE_ENV }}" >> .env.prod
          echo "stage=${{ vars.stage }}" >> .env.prod
        working-directory: ./backend

      - name: Build project to esbuild
        run: npm run build
        working-directory: ./backend

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.BACKEND_AWS_IAM_ROLE_ARN }}
          aws-region: ${{ vars.BACKEND_AWS_REGION }}

      - name: Deploy to serverless
        run:  serverless deploy --stage prod
        working-directory: ./backend

