name: deploy-frontend

on:
  push:
    branches:
      - main
    paths:
      - "frontend/**"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest

    environment:
      name: prod

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci
        working-directory: ./frontend

      - name: env file create
        run: |
          echo "VITE_BASE_URL=${{ vars.VITE_BASE_URL }}" >> .env
          echo "VITE_BACKEND_URL=${{ vars.VITE_BACKEND_URL }}" >> .env
          echo "VITE_GOOGLE_CLIENT_ID=${{ vars.VITE_GOOGLE_CLIENT_ID }}" >> .env
          echo "VITE_CLOUDFLARE_TURNSTILE_SITE_KEY=${{ vars.VITE_CLOUDFLARE_TURNSTILE_SITE_KEY }}" >> .env
          echo "VITE_RAZORPAY_KEY_ID=${{ vars.VITE_RAZORPAY_KEY_ID }}" >> .env
        working-directory: ./frontend

      - name: Build
        run: npm run build
        working-directory: ./frontend

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.FRONTEND_AWS_IAM_ROLE_ARN }}
          aws-region: ${{ vars.FRONTEND_AWS_REGION }}

      - name: Deploy to S3
        run: aws s3 sync dist s3://${{ vars.FRONTEND_AWS_S3_BUCKET_NAME }} --delete
        working-directory: ./frontend

      - name: Invalidate CloudFront cache
        run: aws cloudfront create-invalidation --distribution-id ${{ vars.FRONTEND_AWS_CLOUDFRONT_DISTRIBUTION_ID }} --paths "/index.html"
        working-directory: ./frontend
